:root {
  --highlight: #546e7a;
  --background :#272f40;
  --highlight2:#D8A21B;
  --white:#D6E8F0;
}

* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-image: linear-gradient(to right top, #272f40, #3a4757, #4f5f6f, #667987, #7e949f);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
}

.link {
color: var(--highlight2);
}

h1,h6,h5,p,h4,.whitetext {
    color : var(--white)
}
p {
    font-size: large;
}
.higlight2color {
  font-size: 50pt;
  color : var(--highlight2) !important;
}
.higlight2colorsmall {
  background-color : var(--highlight2) !important;
}

.cardrounded {
border-radius: 5px;
min-height: 38em;
}
.padded {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.bold {
  font-weight: bold;
}  
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    border-radius: 5em;
    background-color: var(--white);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .timelinecontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .timelinecontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: var(--highlight);
    border: 4px solid var(--highlight2);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .timelineleft {
    left: 0;
  }
  
  .timelineright {
    left: 50.5%;
  }
  
  .timelineleft::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--white);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--highlight);
  }
  
  .timelineright::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--highlight);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--highlight) transparent transparent;
  }
  
  .timelineright::after {
    left: -16px;
  }
  
  .timelinecontent {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
  }
  
  @media screen and (max-width: 600px) {
    .timeline::after {
    left: 31px;
    }
    
    .timelinecontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    .timelinecontainer::before {
    left: 60px;
    border: medium solid var(--highlight);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--highlight) transparent transparent;
    }
  
    .timelineleft::after, .timelineright::after {
    left: 15px;
    }
    
    .timelineright {
    left: 0%;
    } 
  }



  .svg-icon {
    width: 25px;
    height: 25px;
    margin-right: 0.5em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: var(--highlight2);
  }
  
  .svg-icon circle {
    stroke: var(--highlight2);
    stroke-width: 1;
  }

  .progress {
    height: 30px;
    border-radius: 7px;
  }