* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #272f40;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
}
h1,h6,h5,.whitetext {
    color : white
}
p {
    font-size: large;
}
  
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .timelinecontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .timelinecontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #1b5e20;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .timelineleft {
    left: 0;
  }
  
  .timelineright {
    left: 50%;
  }
  
  .timelineleft::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .timelineright::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .timelineright::after {
    left: -16px;
  }
  
  .timelinecontent {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  @media screen and (max-width: 600px) {
    .timeline::after {
    left: 31px;
    }
    
    .timelinecontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    .timelinecontainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    .timelineleft::after, .timelineright::after {
    left: 15px;
    }
    
    .timelineright {
    left: 0%;
    }
  }